@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
}

.active hr{
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden;
}

@theme {
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}
.grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}
