
@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Ewert&family=Outfit:wght@100..900&family=Rubik+Glitch+Pop&family=Rubik+Iso&display=swap');

*{
 
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}


@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
}

.active hr{
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden;
}

@theme {
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}
.grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}
